Source: xbmc-pvr-njoy
Priority: extra
Maintainer: Arne Morten Kvarving <arne.morten.kvarving@sintef.no>
Build-Depends: debhelper (>= 8.0.0), cmake, libtinyxml-dev, xbmc-pvr-dev,
               libxbmcplatform-dev, xbmc-addon-dev
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>

Package: xbmc-pvr-njoy
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NJOY PVR for XBMC
 NJOY PVR for XBMC
